body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
}

.container {
    display: grid;
    grid-template-columns: 2fr 0.8fr 0.2fr;
    grid-template-rows: 0.5fr 1.5fr 1.5fr 0.5fr;
    grid-gap: 1em;
    grid-template-areas: 
    'header header settings'
    'data log log'
    'features log log'
    'status status status';
}

h2 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.init {
    text-decoration: underline;
    font-style: italic;
    margin-bottom: 5px;
}

h3 {
    margin-top: 5px;
}

.title {
    color: #fefefe;
    border: 4px solid #181818;
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;

}

.settings {
    padding: 25px;
    color: #fefefe;
    border: 4px solid #181818;
    border-radius: 10px; 
    grid-area: settings;
}

.data {
    color: #fefefe;
    border: 4px solid #181818;
    border-radius: 10px; 
    padding: 1em;
    display: flex;
    flex-direction: column; /* Stack vertically */
    overflow-y: auto; /* Allow vertical scrolling */
    grid-area: data;
}

.toggle {
    color: #fefefe;
    border: 4px solid #181818;
    border-radius: 10px; 
    padding: 1em;
    display: flex;
    flex-direction: column; /* Stack vertically */
    overflow-y: auto; /* Allow vertical scrolling */
    grid-area: features;
}

.log {
    color: #fefefe;
    border: 4px solid #181818;
    border-radius: 10px; 
    padding: 1em;
    display: flex;
    flex-direction: column; /* Stack vertically */
    overflow-y: auto; /* Allow vertical scrolling */
    grid-area: log;
}

.status {
    color: #fefefe;
    border: 4px solid #181818;
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: status;
}

label {
    margin: 5px 0;
    text-align: left;
    display: flex;
    width: 100%;
    padding: 3px 0;
}

/* Everything from here on 
is just designing 
a cooler checkbox */

/* Hide the default checkbox */
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #181818; /* Color when unchecked*/
    border: 2px solid #8c8c8c;
    border-radius: 4px; 
    position: relative;
    margin-right: 10px; /* Space between checkbox and text */
    transition: background-color 0.3s ease;
}

/* Checkbox when checked */
input[type="checkbox"]:checked + .custom-checkbox {
    background-color: green; /* Color when checked */
}

/* Create the checkmark */
.custom-checkbox::after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
input[type="checkbox"]:checked + .custom-checkbox::after {
    display: block;
    left: 5px;
    top: 1px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
