.rectangle {
    height: 300px; 
    width: 1100px;
    padding: 20px;
    background-color: #a02626;
    border: 2px solid #000000;
    border-radius: 10px;
}

form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 10px;
}

label {
    margin: 10px 0;
    text-align: left;
}
